.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.entrance {
    width: 100%;
    height: calc(100vh - 165px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.entranceBlock {
    display: flex;
    width: 100%;
    max-width: 480px;
    flex-direction: column;
    button {
        padding: 15px;
        min-width: 144px;
        margin: 10px 0;
        text-transform: uppercase;
    }
}