.footer {
    width: 100%;
    background: #6e6e6e;
    padding: 15px 0;
    p {
        text-align: center;
        color: #fff;
        margin: 0;
    }
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}