.menu {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
    padding: 0;
    li {
        display: block;
        margin: 0 15px;
        padding: 0;
        a {
            font-size: 16px;
            line-height: 26px;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.3s ease;
            text-transform: uppercase;
            &:hover {
                opacity: 0.7;
                transition: all 0.3s ease;
            }
        }
    }
}